.container {
    width: 800px;
    height: 800px;
    border: 2px solid black;
}

.house {
    position: relative;
    top: 33%;
    left: 250px;
    height: 250px;
    width: 300px;
    background-color: cornflowerblue;
}

.door {
    position: absolute;
    width: 50px;
    height: 100px;
    border: 2px solid black;
    background-color:darkorchid;
    bottom: 0;
    left: 125px;
}