body {
    display: flex;
    justify-content: center;
}
.container {
    width: 800px;
    height: 800px;
}

.house {
    display: flex;
    justify-content: center;
    position: relative;
    top: 33%;
    left: 250px;
    height: 250px;
    width: 300px;
    background-color: cornflowerblue;
    border: 2px solid black;
}

.ducky {
    position: absolute;
    height: 30px;
    bottom: -3px;
    left:0;    
}

.roof {
    top: -195px;
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 180px solid transparent;
    border-right: 180px solid transparent;
    border-bottom: 195px solid black;
}

.r-inner {
    top: -162px;
    border-left: 175px solid transparent;
    border-right: 175px solid transparent;
    border-bottom: 160px solid cornflowerblue;
    z-index: 0;
}

.door {
    position: absolute;
    width: 50px;
    height: 100px;
    border: 2px solid black;
    background-color:darkorchid;
    bottom: -2px;
    left: 125px;
}

.window {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 80px;
    border: 2px solid black;
    position: absolute;
    background-color:aqua;
    top: 30px;
}

.wbox {
    position: absolute;
    z-index: 1;
    border: 2px solid black;
    height: 75px;
    width: 80px;
}

.wleft {
    left: 40px;
}

.wright {
    right: 40px;
}

.wframe {
    height: 75px;
    width: 2px;
    background-color: black;
    position: absolute;
}

.fhoriz {
    height: 80px;
    rotate: 90deg;
}

.horizon {
    position: absolute;
    width: 100%;
    border: 2px solid black;
    top: 58.5%;
}