@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* { 
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.field {
    border: 2px dashed black;
    height: 700px;
    width: 700px;
}

.controlpanel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 10px 5px 20px 5px;
   
}

@keyframes move_square {
    0% { background-color: #6666ff; 
        transform: translateX(0px); }
    25% { background-color: #00ff00; transform: translateX(300px);}
    50% { background-color: #6666ff; transform: translateX(300px) translateY(300px); }
    75% { background-color: #00ff00; transform: translateX(0px) translateY(300px); } 
}

@keyframes rotate_square {
    0% { transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}

@keyframes change_scale {
    0% { transform: scale(1.0); }
    50% { transform: scale(2.0); }
    100% { transform: scale(1.0); }
}

@keyframes change_color {
        from {
          background-color: #6666ff;
        }
        10% {
            background-color: #0099ff;
        }
        50% {
            background-color: #00ff00;
        }
        75% {
            background-color: #ff3399;
        }
        100% {
            background-color: #6666ff;
        }
}

.square {
    position: relative;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 250px;
    background-color: cyan;
    border: 2px dashed black;
}

.move_around {
    animation: move_square 5s ease-in-out infinite reverse;
}

.rotate_around {
    animation: rotate_square 5s linear infinite;
}

.change_scale {
    animation: change_scale 1.5s linear infinite;
}

.change_color {
    animation: change_color 1.5s linear infinite;
}


button{
    color: whitesmoke;
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0px 10px 0px 0px grey;
    border: 2px solid black;
}

/* simulates pressing the button */
button.pressed {
    transform: translateY(10px);
    box-shadow: 0 5px 0 0 rgb(128, 128, 128);
}